.post-header {
  height: 60px;
  border-bottom: 2px solid #ffe39e;
}

.post-name {
  margin-left: -15px;
}

.post-body {
  margin-bottom: 10px;
  color: #ffe39e;
}

.like-icon {
  margin-left: 5px;
}

.like-count {
  margin-left: 2px;
  font-size: small;
}

.post-btn {
  vertical-align: middle;
  width: 110px;
  height: 30px;
  margin-bottom: 30px;
  background-color: #ffe39e;
  border-radius: 5px;
  color: #264653;
  margin-left: 5px;
  margin-right: 5px;
}
