.post-header {
  height: 60px;
  border-bottom: 2px solid #ffe39e;
}

.post-name {
  margin-left: -15px;
}

.post-body {
  margin-bottom: 10px;
  color: #ffe39e;
}

.like-icon {
  margin-left: 5px;
}

.like-count {
  margin-left: 2px;
  font-size: small;
  color: #e96315;
}

.post-btn {
  vertical-align: middle;
  width: 110px;
  height: 30px;
  margin-bottom: 30px;
  background-color: #ffe39e;
  border-radius: 5px;
  color: #264653;
  margin-left: 5px;
  margin-right: 5px;
}

.comment-box {
  /* margin-left: 50px; */
  margin: 0 auto;
}

.comment-box input {
  border-radius: 5px;
  background-color: #c3dae6;
  width: 400px;
  margin-bottom: 10px;

  /* width: 50%; */
}

.disappear {
  display: none;
}

.red {
  background-color: #c95d6b;
  vertical-align: middle;
  width: 110px;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  color: #264653;
  margin-left: 5px;
  margin-right: 5px;
}
