p {
  text-align: center;
  margin-bottom: 0px;
  color: #ce961f;
}

img {
  border-radius: 10px;
  object-fit: cover;
}

.thumbnail {
  margin: 5px;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
}
